.logo-site {
    // Texto
    text-decoration: none;
    font: 24px 'Avenir Next Condensed', sans-serif;
    line-height: 40px;
    // color: #6a8397;
    color: #FFF;

    // Visual
    display: inline-block;

    // Tamanho
    height: 100%;

    &::before {
        // Conteúdo
        content: '';

        // Visual
        display: inline-block;
        background: #FFF url('css/imagens/logotipo.png') center no-repeat;
        background-size: 80%;
        border-radius: 50%;

        // Alinhamento
        vertical-align: middle;

        // Margens
        margin-right: 4px;

        // Tamanho
        width: 35px;
        height: 35px;
    }
}