.titulo-pagina {
    // Texto
    color:  #666;
    font-family: "Avenir Next", sans-serif;
    font-weight: normal;

    // Visual
    border-bottom: 1px solid orange;

    // Margens
    padding-bottom: 8px;
}