.link-mostrar-menu {
    $tm: 28px;
    $mg-hr: 10px;
    $pd-hr: $mg-hr;

    // Texto
    text-decoration: none;
    color: transparent;

    // Tamanho
    width: $tm;
    height: $tm;
    box-sizing: content-box;

    // Visual
    display: inline-block;
    border-right: 1px solid #39a1b2;
    overflow: hidden;

    // Margens
    padding-right: $pd-hr;
    margin-right: $mg-hr;

    @extend %icone-pre;
    @extend .icone-menu;

    &::before {
        // Conteúdo
        font-size: 28px;

        // Texto
        color: #FFF;
    }
}