@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-principal {
    // Tamanho
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    // Posicionamento
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    // Visual
    background: rgba(#32909F, .75);
    list-style: none;
    display: none;
    overflow-y: auto;

    // Flex
    flex-flow: wrap row;

    // Margens
    margin: 0;
    padding: 15vh 10vw;

    // Transições
    animation: aparecer linear .2s;

    > .menu-item {
        // Configurar colunas flexíveis
        @extend %flex-box-mp-col-3;
        @extend %flex-box-pq-col-3;
        @extend %flex-box-md-col-4;
        @extend %flex-box-gd-col-3;
        @extend %flex-box-mg-col-3;

        // Margens
        padding-right: 10px;

        > .menu-link {
            // Texto
            text-decoration: none;
            color: yellow;
            font-size: 20px;
        }

        @import "sub-menu";
    }
}