@import "fontes/font-face";
@import "painel-dlx.config";

@import "vendor/painel-dlx/dlx-ui/config/*";
@import "vendor/painel-dlx/dlx-ui/tipografia/*";
@import "vendor/painel-dlx/dlx-ui/grid-flex/*";
@import "vendor/painel-dlx/dlx-ui/icones/*";


* {
    // Tamanho
    max-width: 100%;
    box-sizing: border-box;
}

body {
    // Visual
    background: #F4F7FB;
    overflow-x: hidden;

    // Texto
    font: 14px $font-sans-serif;

    // Margens
    padding: 95px 1% 40px;

    .wrapper {
        // Transições
        transition: filter .1s;

        // Tamanho
        max-width: 1460px;

        // Margens
        margin: auto;
    }

    &.mostrando-menu {
        .wrapper {
            // Visual
            filter: blur(4px);
        }

        .menu-principal {
            // Visual
            display: flex;
        }
    }
}

// Layout
@import "layout/*";

// Componentes
@import "componentes/*";
@import "componentes/*/*";