.link-inserir {
    $cor-destaque: #66CDAA;

    @extend .com-icone;

    // Visual
    background: $cor-destaque;
    border-radius: 4px;

    // Texto
    color: #FFF;

    &::before {
        // Conteúdo
        content: '\ea0a';
    }
}