.box-paginacao {
    // Margens
    margin-top: 15px;

    // Texto
    text-align: center;

    > .botao-pagina {
        // Visual
        background: #579ad8;
        border-radius: 3px;
        display: inline-block;

        // Texto
        text-decoration: none;
        color: #FFF;

        // Margens
        padding: 7px 15px;

        &:not(:last-child) {
            // Margens
            margin-right: 5px;
        }

        &::before, &::after {
            // Texto
            font-family: icomoon;

            // Alinhamento
            vertical-align: middle;
        }

        &.--desativado {
            // Visual
            opacity: .3;
        }

        &.-anterior {
            &::before {
                // Conteúdo
                content: '\ea23';
            }
        }

        &.-proxima {
            &::after {
                // Conteúdo
                content: '\ea24';
            }
        }
    }
}