.form-titulo {
    // Visual
    display: block;
    background: rgba(30, 135, 136, 0.07);

    // Tammanho
    width: 100%;
    box-sizing: border-box;

    // Margens
    padding: 5px 15px;
    margin-bottom: 10px;

    // Texto
    color: #1e8788;
    font-size: large;
}