.form-checkbox-toggle {
    // Visual
    visibility: hidden;

    // Posicionamento
    position: fixed;
    top: -9999px;
    left: -9999px;

    & + label {
        // Posicionamento
        position: relative;

        // Visual
        display: inline-block;

        // Visual
        cursor: pointer;

        // Margens
        padding-right: 32px;

        &::before,
        &::after {
            // Conteúdo
            content: '';

            // Posicionamento
            position: absolute;
            top: 50%;
            right: 0;

            // Visual
            display: inline-block;

            // Margens
            margin-left: 8px;
        }

        &::before {
            // Tamanho
            width: 24px;
            height: 7px;

            // Visual
            border-radius: 4px;
            background: #DDD;

            // Transformar
            transform: translateY(-50%);
        }

        &::after {
            $tamanho: 12px;

            // Tamanho
            width: $tamanho;
            height: $tamanho;

            // Visual
            border-radius: 50%;
            background: #FFF;
            box-shadow: 0 0 5px rgba(black, .2);

            // Transformar
            transform: translate(-100%, -50%);

            // Transições
            transition: transform .35s;
        }
    }

    &:checked + label {
        &::after {
            // Visual
            background: #21abac;

            // Transformar
            transform: translate(0, -50%);
        }
    }
}