.form-controle-moeda {
    // Posicionamento
    position: relative;

    &::before {
        content: 'R$';

        // Posicinamento
        position: absolute;
        top: 34px;
        left: 12px;

        // Texto
        font-size: 16px;
        font-weight: 600;
        color: #c6cacd;
        line-height: 17px;
    }

    + .form-controle {
        // Margens
        padding-left: 40px;
    }
}