.usuario-resumo-infos {
    // Posicionamento
    position: relative;

    > .botao-perfil-usuario {
        // Posicionamento
        position: relative;
        left: 50%;

        // Transformar
        transform: translateX(-50%);
    }
}