.botao-testar-email {
    @extend .botao;
    @extend .botao-comum;
    // @extend .icone-email;

    &::before {
        // Texto
        font-size: 15px;

        // Alinhamento
        vertical-align: middle;

        // Margens
        margin-right: 4px;
    }
}