.so-icone {
    $tm: 30px;

    @extend .com-icone;

    // Tamanho
    width: $tm;
    height: $tm;

    // Texto
    white-space: nowrap;
    color: transparent;

    // Margens
    padding-left: 0;
    padding-right: 0;
}