// todo: criar classes para não precisar utilizar as tags

.lista-registros {
    // Visual
    background: rgba(#FFF, .5);
    border-collapse: collapse;
    box-shadow: 0 0 3px rgba(black, .2);
    border-radius: 2px;

    // Tamanho
    width: 100%;

    thead {
        // Visual
        // background: rgba(60, 181, 201, 0.2);
        border-bottom: 1px solid #E5E5E5;

        // Texto
        color: #32909F;

        > tr {
            > th {
                // Margens
                padding: 10px 7px;

                // Texto
                font-weight: 600;
                font-size: 15px;
                text-align: left;

                // ID
                &:first-child {
                    // Texto
                    text-align: center;
                }

                // Opções
                &:last-child {
                    // Texto
                    text-align: right;
                }
            }
        }
    }

    tbody {
        tr {
            > td {
                // Margens
                padding: 8px 7px;

                // Texto
                font-size: 14px;

                // Opções
                &:last-child {
                    // Texto
                    text-align: right;

                    a {
                        &::before {
                            // Texto
                            font-size: 18px;
                        }
                    }
                }

                // ID
                &:first-child {
                    // Texto
                    text-align: center;
                }
            }

            &:not(:last-child) {
                // Visual
                border-bottom: 1px solid #EFEFEF;
            }
        }
    }

    &-comentario {
        // Texto
        color: #AAA;
    }
}