.erro-http {
    // Flex
    @extend %flex-box;
    justify-content: space-around;
    align-items: center;

    &-titulo {
        // Texto
        font: 150px "Avenir Next", $font-sans-serif;
        color: #999;
        text-align: right;

        // Margens
        padding: 0;
        margin: 0;

        // Configurar colunas flexíveis
        @extend %flex-box-mp-col-3;
        @extend %flex-box-pq-col-3;
        @extend %flex-box-md-col-3;
        @extend %flex-box-gd-col-3;
        @extend %flex-box-mg-col-5;
    }

    &-descricao {
        // Configurar colunas flexíveis
        @extend %flex-box-mp-col-3;
        @extend %flex-box-pq-col-3;
        @extend %flex-box-md-col-9;
        @extend %flex-box-gd-col-9;
        @extend %flex-box-mg-col-10;

        // Margens
        padding-left: 30px;

        // Texto
        font-size: large;
        color: #AAA;

        &::first-line {
            // Texto
            color: #32909F;
            font-size: x-large;
        }
    }
}