.lista-widgets {
    // Flex
    display: flex;
    flex-flow: row wrap;

    > .widget-home {
        // Flex
        flex-shrink: 0;
        flex-grow: 0;

        // Configurar colunas flexíveis
        @extend %flex-box-mp-col-3;
        @extend %flex-box-pq-col-3;
        @extend %flex-box-md-col-6;
        @extend %flex-box-gd-col-4;
        @extend %flex-box-mg-col-4;

        // Margens
        margin-bottom: 10px;
    }
}