@font-face {
    font-family: icomoon;
    src: url('css/fontesn/fonts/icomoon.eot'); // IE9
    src: url('css/fontesn/fonts/icomoon.woff') format('woff'),
    url('css/fontesn/fonts/icomoon.ttf') format('truetype'),
    url('css/fontesn/fonts/icomoon.svg') format('svg');
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('css/fontes-next-lt-pro-condensed.otf');
}