.form-controle-descricao {
    @extend %icone-pre;
    @extend .icone-descricao;

    // Posicionamento
    position: relative;

    &::before {
        // Posicinamento
        position: absolute;
        top: 34px;
        left: 12px;

        // Texto
        font-size: 16px;
        color: #c6cacd;
    }

    + .form-controle {
        // Margens
        padding-left: 40px;
    }
}