.multi-select {
    $cor-fundo: rgba(#E9E9E9, .3);
    $border-radius: 3px;

    // Posicionamento
    position: relative;

    // Tamanho
    width: auto;
    height: 33px;
    box-sizing: border-box;

    // Margens
    padding-right: 50px;

    // Visual
    border: 1px solid #DDD;
    background: $cor-fundo;

    // Texto
    color: #888;

    &:hover {
        .multi-select-itens {
            // Visual
            display: block;
        }
    }

    &-item {
        // Visual
        display: block;

        // Texto
        line-height: 33px;

        // Tamanho
        width: 100%;
        box-sizing: border-box;

        // Margens
        padding-left: 8px;
    }

    &-itens {
        // Posicionamento
        position: absolute;
        left: -1px;
        top: 100%;
        z-index: 1;

        // Tamanho
        width: 100%;

        // Visual
        background: #FFF;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        // Visual
        display: none;

        > .multi-select-item {
            // Visual
            cursor: pointer;

            &:hover {
                // Visual
                background: $cor-fundo;

                // Texto
                color: orange;
            }
        }
    }
}